* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Nunito", sans-serif;
}

body {
  min-height: 100vh;
  background: #e5e5e5;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

.header-background-box {
  background-image: url(./images/big-background-flat-img.webp);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.circle-black-logo {
  width: 85px;
  height: 85px;
  background: black;
  border-radius: 50px;
}

.circle-blakc-logo-title {
  text-align: center;
  color: white;
  font-family: "Ropa Sans", sans-serif;
  padding-top: 13px;
  font-size: 50px;
}

.circle-logo-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.header-nav-menu-box {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav-button-text {
  border: none;
  background: none;
  font-family: "PT Serif", serif;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
}

.arrow-button {
  width: 4%;
  height: 4%;
}

.arrow-button-box {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.projects-title {
  font-family: "PT Serif", serif;
  font-size: 85px;
  text-align: center;
  padding-top: 50px;
}

.img {
  width: 100%;
  background-size: cover;
}

.img-box {
  width: 33.3333%;
  padding: 16px;
}

.project-box-row-wrapper {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.img-box:hover {
  color: black;
  opacity: 0.3;
}

.box-with-only-big-img {
  background-image: url(./images/plitka-img.jpg);
  height: 60vh;
  width: 99vw;
  background-size: cover;
  margin-top: 60px;
}

.title-in-box {
  font-family: "PT Serif", serif;
  font-size: 80px;
  text-align: center;
  font-weight: 100;
}

.sub-text-in-box {
  font-family: "PT Serif", serif;
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
}

.box-with-only-text {
  padding-top: 50px;
  padding-bottom: 50px;
}

.box-with-only-big-img-second {
  background-image: url(./images/subway-img.jpg);
  height: 70vh;
  width: 99vw;
  background-size: cover;
  background-position: center;
}

.email-row {
  width: 660px;
  height: 42px;
  background: white;
  border: 1px solid black;
  margin-top: 12px;
  padding: 10px;
  padding-left: 16px;
}

.box-with-input {
  max-width: 662px;
  margin: 0 auto;
}

.email-row-big {
  height: 120px;
  padding-bottom: 66px;
}

.button-after-input {
  width: 184px;
  height: 40px;
  background: #2f2e2e;
  border: #2f2e2e 1px solid;
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

.footer-orange-box {
  background: orangered;
  width: 100vw;
  height: 7vh;
  margin-top: 40px;
}

/* tablets */
@media screen and (max-width: 1024px) {
  .header-nav-menu-box {
    visibility: hidden;
  }
  .arrow-button-box {
    padding-top: 1%;
  }
  .arrow-button {
    width: 56px;
    height: 56px;
  }
  .main-content-part {
    margin: 0 auto;
  }

  .email-row {
    width: 280px;
  }

  .box-with-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .button-after-input {
    width: 280px;
  }
  .footer-orange-box {
    width: 100%;
  }

  .sub-text-in-box {
    font-size: 16px;
  }

  .projects-title {
    font-size: 70px;
  }
}
